/* ==== ==== ==== ==== ==== */
.header {
    height: calc(100vh - 100px);
    margin: 50px;

    position: relative;
    z-index: 100;

    background: $header-back;
    border-radius: 30px;

    &::after {
        content: "";

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;

        background-image: url("../img/header__mask_group.png");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
}

// navbar
.navbar {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 3rem;

    position: relative;
    z-index: 300;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2.1em;
    font-weight: 700;
    line-height: 31 / 21 * 100%;
    text-transform: uppercase;
    white-space: nowrap;
    color: $white-font;
}

.nav-menu {
    flex: 1 1 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__list {
        padding-right: 11rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4.5rem;
    }

    &__link {
        font-size: 2.1em;
        font-weight: 400;
        line-height: 31 / 21 * 100%;
        color: $white-font;
        opacity: 0.6;

        &--active {
            opacity: 1;
        }
    }

    &__purchase-button {
        border: none;
        padding: 1.5rem 3rem;

        border-radius: 6px;
        background-color: $button-back;

        font-size: 2.1em;
        line-height: 31 / 21 * 100%;
        color: $button-font;
    }

}

.menu-button {
    display: none;
}

// hero 
.hero {
    height: calc(100vh - 190px);
    padding-bottom: 3rem;

    position: relative;
    z-index: 300;

    background-image: url("../files/image/header__phone.png");
    background-position: 100% 0;
    background-size: contain;
    background-repeat: no-repeat;

    &__content {
        max-width: 1140px;
        height: 100%;
        margin: 0 auto;

        display: flex;
        align-items: center;
    }

    &__text-content {
        max-width: 55.5rem;
    }

    &__heading {
        margin-bottom: 1.8rem;

        opacity: 0.9;

        font-size: 6.8em;
        font-weight: 700;
        line-height: 82 / 68 * 100%;
        color: $white-font;
    }

    &__paragraph {
        max-width: 48.7rem;
        margin-bottom: 4rem;

        opacity: 0.8;

        font-size: 1.8em;
        font-weight: 400;
        line-height: 160%;
        color: $white-font;

    }

    &__purchase-button {
        border: none;
        padding: 1.6rem 4.8rem;

        background-color: $button-back;
        border-radius: 6px;

        font-size: 2.1em;
        font-weight: 500;
        line-height: 31 / 21 * 100%;
        color: $button-font;
    }
}

/* ==== ==== ==== ==== ==== */
.social-proof {
    padding: 5rem 0 10rem;

    &__list {
        max-width: 1140px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    &__link {
        display: block;
    }

    &__vector {
        opacity: 0.7;
    } 
}

/* ==== ==== ==== ==== ==== */
.product {
    padding-bottom: 19rem;

    &__content {
        max-width: 1140px;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: 6.7rem;

        font-size: 5.1em;
        font-weight: 700;
        line-height: 130%;
        text-align: center;
        color: $main-font;
    }
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;

    &__item {
        flex: 1 1 25%;
    }
}

.product-card {

    &__image {
        width: 10rem;
        height: 10rem;

        margin-bottom: 2rem;
    }

    &__vector {
        height: 100%;
        object-position: 0 50%;
        object-fit: contain;
    }

    &__heading {
        margin-bottom: 1.3rem;

        font-size: 2.1em;
        font-weight: 500;
        color: $main-font;
    }

    &__paragraph {
        font-size: 1.6em;
        line-height: 160%;
        color: $main-font;
    }
}

/* ==== ==== ==== ==== ==== */
.about {
    background-color: $about-back;

    &__content {
        max-width: 1140px;
        margin: 0 auto;

        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__picture {

        width: 41.2rem;
        position: relative;
    }

    &__image {
        height: 58.8rem;
        width: 41.2rem;

        position: absolute;
        bottom: 0;
        left: -7rem;

    }

    &__text-content {
        max-width: 51.2rem;
        height: 51.6rem;

        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &__heading {
        margin-bottom: 3rem;

        opacity: 0.9;

        font-size: 5.1em;
        font-weight: 700;
        line-height: 130%;
        color: $white-font;
    }

    &__paragraph {
        font-size: 1.6em;
        line-height: 160%;
        color: $white-font;

        opacity: 0.7;
    }
}

/* ==== ==== ==== ==== ==== */
.feature {
    padding: 6.5rem 11rem;

    &__content {
        max-width: 1140px;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: 6rem;

        opacity: 0.9;

        font-size: 5.1em;
        font-weight: 700;
        line-height: 130%;
        text-align: center;
        color: $main-font;
    }
}

.features {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 4rem;
    justify-items: center;
}

.feature-card {
    max-width: 40.8rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;

    &__marker {
        flex: 0 0 7.5rem;
        height: 7.5rem;

        position: relative;
        z-index: 50;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__figure {
        width: 100%;
        height: 100%;

        position: absolute;

        background-color: $figure-back;
        border-radius: 35px 35px 35px 0;

        transform: rotate(-135deg);
    }

    &__vector {
        width: 3.6rem;
        height: 3.6rem;
    
        position: relative;
        z-index: 60;
    }

    &__heading {
        margin-bottom: 0.6rem;

        opacity: 0.9;
        
        font-size: 2.8em;
        font-weight: 500;
        line-height: 41 / 28 * 100%;
        color: $main-font;
    }

    &__paragraph {
        opacity: 0.8;

        font-size: 1.6em;
        line-height: 160%;
        color: $main-font;
    }
}

