// global
$white-font: #FFFFFF;
$main-font: #141313;

$button-back: #FFFFFF;
$button-font: #5484FF;



// header
$header-back: linear-gradient(180deg, #4967B4 0%, #142C69 104.06%);
$nav-menu-back: #FFFFFF;

// about 
$about-back: #304E9A;

// feature
$figure-back: #5484FF;

// full-catalog
$full-ctl-back: #304E9A;

// footer 
$footer-back: #050D22;
$social-color: #FFDE61;